

<div class="container">
    <div class="card">

        <button #addbtn class="btn btn-primary">
            add
        </button>
    </div>
</div>

<div class="container">
    <div class="card">
        <ul id="licontainer">
        </ul>
    </div>
</div>

<hr />

<div class="container">
    <div class="card">
        <ul id="licontainer2">
        </ul>
    </div>
</div>

<hr />

<div class="container">
    <div class="card">
        <p>message<strong class="text-success">{{msg1}}</strong></p>
        
    </div>
</div>

<hr />
<div class="container">
    <div class="card">
        <input type="search" placeholder="search" #myinput>
        <span>Requested data :<strong class="text-success">{{reqdata}}</strong></span>
    </div>
</div>

